<template>
  <fragment>
    <subheading :title="$t('labels.staff_management')" />
    <v-layout md12 row wrap class="mb-3">
      <v-flex md3 offset-md-9>
        <v-btn class="float-right" @click="createHandler" color="primary">
          {{ $t('labels.create') }}
        </v-btn>
      </v-flex>
    </v-layout>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">{{ $t('labels.code') }}</th>
            <th class="text-left">{{ $t('labels.name') }}</th>
            <th class="text-left">{{ $t('labels.work_type') }}</th>
            <th class="text-left">{{ $t('labels.developer_type') }}</th>
            <th class="text-left">{{ $t('labels.rank') }}</th>
            <th class="text-left">{{ $t('labels.position') }}</th>
            <th class="text-left">{{ $t('labels.group') }}</th>
            <th class="text-left">{{ $t('labels.actions') }}</th>
          </tr>
        </thead>
        <tbody v-if="staffs.length > 0">
          <tr v-for="item in staffs" :key="item.staff_code">
            <td>{{ item.staff_code }}</td>
            <td>{{ item.full_name }}</td>
            <td>{{ item.working_type_id }}</td>
            <td>{{ item.developer_type.name }}</td>
            <td>{{ item.rank.name }}</td>
            <td>{{ item.position_id }}</td>
            <td>{{ item.group.name }}</td>
            <td>
              <v-icon small class="mr-2" @click="editHandler(item)">
                mdi-pencil
              </v-icon>
              <v-icon small @click="deleteHandler(item)">
                mdi-delete
              </v-icon>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <no-data />
        </tbody>
      </template>
    </v-simple-table>
  </fragment>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import Subheading from '@/components/UI/Subheading.vue';
import NoData from '@/components/UI/NoData.vue';

export default {
  components: {
    Subheading,
    NoData,
  },
  data() {
    return {};
  },
  async created() {
    try {
      await this.getStaffs();
    } catch (error) {
      this.$helpers.showErrorMessage(error);
    }
  },
  computed: {
    ...mapGetters('staffs', ['staffs']),
  },
  methods: {
    ...mapActions('staffs', ['getStaffs', 'createStaff']),
    async createHandler() {
      const payload = {
        developer_type: 2,
        rank: 2,
        position_id: 1,
        group: 2,
        working_type_id: 1,
        staff_code: '10001',
        full_name: 'Do Quang Hung',
        note: 'The best employee',
        experience_from: '2018-10-01',
      };
      try {
        await this.createStaff(payload);
      } catch (error) {
        this.$helpers.showErrorMessage(error);
      }
    },

    editHandler() {},

    deleteHandler() {},
  },
};
</script>

<style lang="scss" scoped></style>
