<template>
  <v-navigation-drawer
    v-model="$store.state.common.drawer"
    :clipped="$vuetify.breakpoint.lgAndUp"
    app
  >
    <v-card class="mx-auto" width="300">
      <v-list>
        <v-list-item :to="{ name: this.$constants.PAGES.HOME }" link exact>
          <v-list-item-icon>
            <v-icon>mdi-home</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ $t('menus.home') }}</v-list-item-title>
        </v-list-item>

        <v-list-item :to="{ name: this.$constants.PAGES.STAFF_LIST }" link>
          <v-list-item-icon>
            <v-icon>mdi-account</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ $t('menus.staff') }}</v-list-item-title>
        </v-list-item>

        <v-list-item link @click="logoutHandler">
          <v-list-item-icon>
            <v-icon>mdi-arrow-collapse-left</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ $t('menus.logout') }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-card>
  </v-navigation-drawer>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data: () => ({}),

  methods: {
    ...mapActions('auth', ['logout']),
    async logoutHandler() {
      const loader = this.$loading.show();

      try {
        await this.logout();
        loader.hide();
        this.$helpers.redirect(this.$constants.PAGES.LOGIN);
      } catch (error) {
        loader.hide();
        this.$helpers.showErrorMessage(error);
      }
    },
  },
};
</script>
