<template>
  <v-card height="150">
    <v-footer
      absolute
      class="font-weight-medium"
    >
      <v-col
        class="text-center"
        cols="12"
      >
        {{ $d(new Date(), 'long') }} — <strong>Vuetify</strong>
      </v-col>
    </v-footer>
  </v-card>
</template>
