<template>
  <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="blue darken-3" dark>
    <v-app-bar-nav-icon @click.stop="toggleDrawer" />
    <v-toolbar-title style="width: 300px;" class="ml-0 pl-4">
      <span class="hidden-sm-and-down">{{ $t('site_title') }}</span>
    </v-toolbar-title>
    <v-text-field
      flat
      solo-inverted
      hide-details
      prepend-inner-icon="mdi-magnify"
      label="Search"
      class="hidden-sm-and-down"
    />
    <v-spacer />
    <v-btn icon @click="$helpers.setLocale('en')">
      <v-icon>mdi-shield-alert</v-icon>
    </v-btn>
    <v-btn icon @click="$helpers.setLocale('vi')">
      <v-icon>mdi-shield-alert-outline</v-icon>
    </v-btn>
    <v-btn icon large>
      <v-avatar size="32px" item>
        <v-img src="https://cdn.vuetifyjs.com/images/logos/logo.svg" alt="Vuetify"
      /></v-avatar>
    </v-btn>
  </v-app-bar>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  methods: {
    ...mapMutations('common', ['toggleDrawer']),
  },
};
</script>
