<template>
  <v-app>
    <snackbar />
    <router-view />
  </v-app>
</template>

<script>
import Snackbar from '@/components/UI/SnackBar.vue';

export default {
  components: {
    Snackbar,
  },
  created() {
    const locale = localStorage.getItem('locale');

    if (locale) {
      this.$i18n.locale = locale;
    }
  },
};
</script>

<style lang="scss">
</style>
