<template>
  <fragment>
    <drawer />
    <page-header />
    <v-content>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-content>
    <page-footer />
  </fragment>
</template>

<script>
import PageHeader from '@/components/Header.vue';
import Drawer from '@/components/Drawer.vue';
import PageFooter from '@/components/Footer.vue';

export default {
  components: {
    PageHeader,
    Drawer,
    PageFooter,
  },
  data: () => ({}),
};
</script>
