<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="4">
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>{{ $t('login_form_title') }}</v-toolbar-title>
            <v-spacer />
          </v-toolbar>
          <v-card-text>
            <v-form @submit.prevent="loginHandler" ref="form" :lazy-validation="true">
              <v-text-field
                :label="$t('labels.email')"
                v-model="email"
                :rules="rules.email"
                prepend-icon="person"
                type="text"
                required
              />

              <v-text-field
                :label="$t('labels.password')"
                v-model="password"
                prepend-icon="lock"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="showPassword = !showPassword"
                :type="showPassword ? 'text' : 'password'"
                :rules="rules.password"
              ></v-text-field>

              <v-card-actions>
                <v-spacer />
                <v-btn type="submit" :disabled="disabled" color="primary">{{
                  $t('labels.login')
                }}</v-btn>
              </v-card-actions>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data: () => ({
    showPassword: false,
    password: '',
    email: '',
    disabled: false,
  }),
  computed: {
    rules() {
      return {
        email: [
          (v) => !!v || this.$i18n.t('validation.email.required'),
          (v) => (!!v && /\S+@\S+\.\S+/.test(v)) || this.$i18n.t('validation.email.invalid_format'),
        ],
        password: [
          (v) => !!v || this.$i18n.t('validation.password.required'),
          (v) => (!!v && v.length >= 5) || this.$i18n.t('validation.password.length'),
          (v) => (!!v && /^\S*$/.test(v)) || this.$i18n.t('validation.password.invalid_format'),
        ],
      };
    },
  },
  methods: {
    ...mapActions('auth', ['login']),
    async loginHandler() {
      const validated = this.$refs.form.validate();
      if (validated) {
        this.disabled = true;
        this.timeout = setTimeout(() => {
          this.disabled = false;
        }, 500);
        const loader = this.$loading.show();

        try {
          await this.login({
            email: this.email,
            password: this.password,
          });
          loader.hide();
          this.$helpers.redirect(this.$constants.PAGES.STAFF_LIST);
        } catch (error) {
          loader.hide();
          this.$helpers.showErrorMessage(error);
        }
      }
    },
  },
};
</script>
