<template>
  <v-snackbar v-model="show" :timeout="5000" top :color="color">
    <span>{{ message }}</span>
    <v-icon right color="white" @click="show = false">close</v-icon>
  </v-snackbar>
</template>

<script>
export default {
  data() {
    return {
      show: false,
      message: '',
      color: '',
    };
  },
  created() {
    this.$store.watch(
      (state) => state.snackbar.snack,
      () => {
        const msg = this.$store.state.snackbar.snack;
        if (msg !== '') {
          this.show = true;
          this.color = this.$store.state.snackbar.color;
          this.message = this.$store.state.snackbar.snack;
          this.$store.commit('setSnack', { snack: '', color: '' });
        }
      },
    );
  },
};
</script>
